{% extends layout %}
{% import "partials/macros.html" as m with context %}
{% block main %}
<section class="page-head"><div class="wrap">
{{ m.crumbs(page) }}
<h1>{{ site.cfg.wording.guides_h1 }}</h1>
<p class="lead">{{ site.cfg.wording.guides_lead }}</p>
</div></section>
<section class="section"><div class="wrap">
{{ m.guide_cards(site.guides, 2) }}
</div></section>
{{ m.cta_band(site.cfg.wording.guide_form_title, site.form.summary ~ ". We check fit with the facility and reply within " ~ site.cfg.reply_within ~ ".") }}
{% endblock %}
